<div class="container">
    <div class="new-post">
        <div class="create">
            <h2>Create New Post</h2>
            <form class="form post-form">
                <div class="mb-3 form-group">
                    <label for="title-content" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title-content" placeholder="title">
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Content</label>
                    <textarea class="form-control" id="content" rows="3"></textarea>
                </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary post" type="submit">Post</button>
        </div>
        </form>
    </div>
</div>

<script src="/js/create.js"></script>