<div class="container">
    <div>
        <h1 class="user-dash">Create New Post</h1>
        <div class="post-box">
                <div class="headLabel">
                    <form class="post-form">
                    <label for="title-content" class="form-label"></label>
                    <input type="text" class="form-control newPost" id="title-content" placeholder="title">
                </div>
                <div class="post-text">
                    <label for="content" class="form-label"></label>
                    <textarea class="form-control post-text" id="content" rows="3" placeholder="content"></textarea>
                </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary postBtn" type="submit">Post</button>
        </div>
        </form>
    </div>
</div>

<script src="/js/create.js"></script>