<div class="new-post">
    <div class="create">
        <h2>Create New Post</h2>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="title">
        </div>
        <div class="mb-3">
            <label for="content-title" class="form-label">Content</label>
            <textarea class="form-control" id="content" rows="3"></textarea>
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</div>