{{#each posts as |post|}}
<div class="post-box">
        <div class="label">
        <h2 class="title">Title: {{post.title}}</h2>
        <span class="user-name">User: {{post.user_id}}</span>
        <span class="user-date">Date: {{post.date_created}}</span>
        </div>
        <div class="post-text">
            Description: {{post.description}}
        </div>
    </div>
{{/each}}