<div class="container userLogin">
<div class="signup user-dash login">
    <h1 class="headLabel">
        User Sign Up
    </h1>
    <form class="form signup-form user-password">
        <div class="form-group">
            <label for="user-name" class="usernam">Name</label>
            <input class="form-input" type="text" id="user-name" />
            <label for="user-signup"class="userlog">Email</label>
            <input class="form-input" type="text" id="user-email" />
            <label for="password-login" class="userpass">Password</label>
            <input class="form-input" type="password" id="user-password" />
        </div>
        <div class="button">
            <button class="btn btn-primary signupBtn" type="submit">sign up</button>
        </div>
    </form>
</div>
</div>
<script src="/js/signup.js"></script>